{% extends "inc/base.html" %}
{% load static %}
{% block title %}
Sign up
{% endblock %}
{% block content %}
<div class="error-message">Sorry, this email address already register</div>
<div class="form-group row">
    <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputLogin" placeholder="Enter your login here" maxlength="30">
    </div>
</div>

<div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" maxlength="30">
    </div>
</div>

<div class="form-group row">
    <label for="inputNick" class="col-sm-2 col-form-label">Nickname</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="inputNick" placeholder="Bad_fox" maxlength="30">
    </div>
</div>

<div class="form-group row">
    <label for="inputPassw" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-6">
        <input type="password" class="form-control" id="inputPassw" placeholder="*******" maxlength="30">
    </div>
    <div class="error-message">Uncorrected password</div>
</div>

<div class="form-group row">
    <label for="inputRepeatPassw" class="col-sm-2 col-form-label">Repeat password</label>
    <div class="col-sm-6">
        <input type="password" class="form-control" id="inputRepeatPassw" placeholder="*******" maxlength="30">
    </div>
    <div class="error-message">This password doesn`t match</div>
</div>

<div class="form-group row">
    <label for="formFile" class="col-sm-2 col-form-label">Upload avatar</label>
    <div class="col-sm-6">
        <input class="form-control" type="file" id="formFile" maxlength="30">
    </div>
    <div class="error-message">Uncorrected image type</div>
</div>
<button type="button" class="btn btn-success final-button"><a href="{% url 'index' %}" class="my-btn-style">Sign up</a>
</button>

{% endblock %}
