<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="../static/img/avatar1.png" alt="">
            </div>
        </div>
        <div class="col-10">
            <h2 class="question-title">Best answer {{answer.id}}</h2>
            <div class="question-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto, debitis dolorem
                dolores, et incidunt non optio quo tempore ut voluptates? Aliquam debitis delectus doloribus harum,
                labore libero veritatis!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="col-1 rate">5</div>
                <div class="col-1 btn-rate">
                    <button type="button">▲</button>
                    <button type="button">▼</button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                <label class="form-check-label" for="flexCheck2">
                    Correct!
                </label>
            </div>
        </div>
    </div>
</div>