{% load static %}
<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{% static 'question.user.image' %}" alt="">
            </div>
        </div>
        <div class="col-10">
            <a href="{% url 'question' question_id=question.id %}"><h2 class="question-title">{{question.title}}</h2></a>
            <div class="question-text">
                {{question.content}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="col-1 rate">{{question.like_set.all|length}}</div>
                <div class="col-1 btn-rate">
                    <button type="button">▲</button>
                    <button type="button">▼</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <a href="{% url 'question' question_id=question.id %}">answers({{question.answer_set.all|length}})</a>
        </div>
        <div class="col-6">
            Tags:
            {% for tag in question.tags.all %}
                <a href="{% url 'tag' %}?tag_req={{tag}}" class="question-tag">{{tag}}</a>
            {% endfor %}
        </div>
    </div>
</div>