<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AskFox</title>


    <link href="../static/css/bootstrap.css" rel="stylesheet" >


    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">AskFox</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" href="ask.html"><a href="ask.html" class="my-btn-style" >ASK!</a></button>
                </form>

                <div class="auth">
                    <div class="auth-block avatar"><img src="../static/img/avatar_client.png" alt="avatar"></div>
                    <div class="auth-block"><p>Dr. Pepper</p>
                        <p><a href="settings.html">settings</a> <a href="login.html">log out</a></p></div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="question" style="border: 0">
                        <div class="row">
                            <div class="col-2">
                                <div class="avatar">
                                    <img src="../static/img/avatar1.png" alt="">
                                </div>
                            </div>
                            <div class="col-10">
                                <h2 class="question-title">Question 1</h2>
                                <div class="question-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto, debitis dolorem dolores, et incidunt non optio quo tempore ut voluptates? Aliquam debitis delectus doloribus harum, labore libero veritatis!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-1 rate">5</div>
                                    <div class="col-1 btn-rate">
                                        <button type="button">▲</button>
                                        <button type="button">▼</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <a href="question.html">answer (3)</a>
                            </div>
                            <div class="col-6">
                                Tags: <a href="index.html" class="question-tag">black-jack</a><a href="index.html" class="question-tag">bender</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar1.png" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title">Best answer</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto, debitis dolorem dolores, et incidunt non optio quo tempore ut voluptates? Aliquam debitis delectus doloribus harum, labore libero veritatis!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <div class="col-1 rate">5</div>
                                <div class="col-1 btn-rate">
                                    <button type="button">▲</button>
                                    <button type="button">▼</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                                <label class="form-check-label" for="flexCheck2">
                                    Correct!
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar1.png" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title">Bad answer</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto, debitis dolorem dolores, et incidunt non optio quo tempore ut voluptates? Aliquam debitis delectus doloribus harum, labore libero veritatis!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <div class="col-1 rate">5</div>
                                <div class="col-1 btn-rate">
                                    <button type="button">▲</button>
                                    <button type="button">▼</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Correct!
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
                <div class="form-group row">
                        <textarea class="form-control my-text-area" placeholder="Enter your answer here" rows="4"></textarea>
                </div>
                <button type="button" class="btn btn-success final-button">Answer</button>
            </div>
            <div class="col-4">
                <h1>Popular Tags</h1>
                <p>perl python TechnoPark MySQL django Mail.Ru Voloshin Firefox</p>
                <h1>Best Members</h1>
                <ul class = "members">
                    <li><a href="">Mr. Freeman</a></li>
                    <li><a href="">Dr. House</a></li>
                    <li><a href="">Bender</a></li>
                    <li><a href="">Queen Victoria</a></li>
                    <li><a href="">V. Pupkin</a></li>
                </ul>
            </div>

        </div>
    </div>

</main>


</body>
</html>
