<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AskFox</title>


    <link href="../static/css/bootstrap.css" rel="stylesheet" >


    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">AskFox</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" href="ask.html"><a href="ask.html" class="my-btn-style" >ASK!</a></button>
                </form>

                <div class="auth">
                    <div class="auth-block avatar"><img src="../static/img/avatar_client.png" alt="avatar"></div>
                    <div class="auth-block"><p>Dr. Pepper</p>
                        <p><a href="settings.html">settings</a> <a href="login.html">log out</a></p></div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">

    <div class="container">
        <h1>Settings: Dr. Pepper</h1>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" id="inputLogin" placeholder="Enter your login here">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email"  class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputNick" class="col-sm-2 col-form-label">Nickname</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" id="inputNick" placeholder="Bad_fox">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Upload avatar</div>
                    <div class="col-sm-6">
                        <div class="avatar-auth"><img src="../static/img/avatar_client.png"></div>
                        <div class="form-group">
                                <input class="form-control form-style" type="file" id="formFile">
                        </div>
                        <button type="button" class="btn btn-success final-button">Sign up</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h1>Popular Tags</h1>
                <p>perl python TechnoPark MySQL django Mail.Ru Voloshin Firefox</p>
                <h1>Best Members</h1>
                <ul class = "members">
                    <li><a href="">Mr. Freeman</a></li>
                    <li><a href="">Dr. House</a></li>
                    <li><a href="">Bender</a></li>
                    <li><a href="">Queen Victoria</a></li>
                    <li><a href="">V. Pupkin</a></li>
                </ul>
            </div>
        </div>
    </div>

</main>


</body>
</html>
