<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AskFox</title>


    <link href="../static/css/bootstrap.css" rel="stylesheet" >


    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">AskFox</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

              <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" href="ask.html"><a href="ask.html" class="my-btn-style" >ASK!</a></button>
                </form>

                    <div class="auth">
                    <div class="auth-block avatar"><a href="login.html"><img src="../static/img/user_unath.png" alt="avatar"></a></div>
                    </div>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">

    <div class="container">
        <h1>New questions</h1>
        <div class="row">
            <div class="col-8">
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar1.png" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <a href="question.html"><h2 class="question-title">Question 1</h2></a>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto, debitis dolorem dolores, et incidunt non optio quo tempore ut voluptates? Aliquam debitis delectus doloribus harum, labore libero veritatis!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <div class="col-1 rate">5</div>
                                <div class="col-1 btn-rate">
                                    <button type="button">▲</button>
                                    <button type="button">▼</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <a href="question.html">answer (3)</a>
                        </div>
                        <div class="col-6">
                            Tags: <a href="question.html" class="question-tag">black-jack</a><a href="question.html" class="question-tag">bender</a>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar2.png" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <a href="question.html"><h2 class="question-title">Question 2</h2></a>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto, debitis dolorem dolores, et incidunt non optio quo tempore ut voluptates? Aliquam debitis delectus doloribus harum, labore libero veritatis!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                                <div class="row">
                                    <div class="col-1 rate">5</div>
                                    <div class="col-1 btn-rate">
                                        <button type="button">▲</button>
                                        <button type="button">▼</button>
                                    </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <a href="" >answer (3)</a>
                        </div>
                        <div class="col-6">
                            Tags: <a href="" class="question-tag">black-jack</a><a href="" class="question-tag">bender</a>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar3.png" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <a href="question.html"><h2 class="question-title">Question 3</h2></a>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto, debitis dolorem dolores, et incidunt non optio quo tempore ut voluptates? Aliquam debitis delectus doloribus harum, labore libero veritatis!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <div class="col-1 rate">5</div>
                                <div class="col-1 btn-rate">
                                    <button type="button">▲</button>
                                    <button type="button">▼</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <a href="">answer (3)</a>
                        </div>
                        <div class="col-6">
                            Tags: <a href="" class="question-tag">black-jack</a><a href="" class="question-tag">bender</a>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>

            </div>
            <div class="col-4">
                <h1>Popular Tags</h1>
                <p>perl python TechnoPark MySQL django Mail.Ru Voloshin Firefox</p>
                <h1>Best Members</h1>
                <ul class = "members">
                    <li><a href="">Mr. Freeman</a></li>
                    <li><a href="">Dr. House</a></li>
                    <li><a href="">Bender</a></li>
                    <li><a href="">Queen Victoria</a></li>
                    <li><a href="">V. Pupkin</a></li>
                </ul>
            </div>
        </div>
    </div>

</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


</body>
</html>
